header {
    text-align: center;
    margin: auto;
}

header img {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
    background-color: transparent;
}

header h1 {
    font:italic;
    font-size: 3rem;
}