<form (ngSubmit)="onSubmit()">
    <h3><u>Simple Interest:</u></h3>
    <p>
        <label for="principal">Principal Amount (P)</label>
        <input id="principal" name="principal-amount" type="number" [(ngModel)]="userPrincipal" />
    </p>
    <p>
        <label for="rate">Inrerest Rate (i)</label>
        <input id="rate" name="interest-rate" type="number" [(ngModel)]="userRate"  />
    </p>
    <p>
        <label for="period">Period(n)</label>
        <input id="period" name="period" type="number" [(ngModel)]="userPeriod"  />
    </p>
    <p>
        <label for="ammount">Accumlated Ammount (A)</label>
        <input id="amount" name="amount" type="number" [(ngModel)]="userAmount"  />
    </p>
    <p>
        <label for="interest">Intrest Earned (I)</label>
        <input id="interest" name="interest" type="number" [(ngModel)]="userInterest"  />
    </p>
    <p><b>Buttons:</b></p>
    <div class="buttons" >
        <button (click)="calculatePrincipal()">P</button>
        <button (click)="calculateRate()">i</button>
        <button (click)="calculatePeriod()">n</button>
        <button (click)="calculateAmaount()">A</button>
        <button (click)="calculateInterest()">I</button>
    </div>
</form>
