<form>
    <p>
        <label for="principal">Principal Amount (P)</label>
        <input id="principal" name="principal-amount" type="number" />
    </p>
    <p>
        <label for="rate">Inrerest Rate (i)</label>
        <input id="rate" name="interest-rate" type="number" />
    </p>
    <p>
        <label for="period">Period(n)</label>
        <input id="period" name="period" type="number" />
    </p>
    <p>
        <label for="ammount">Accumlated Ammount (A)</label>
        <input id="amount" name="amount" type="number" />
    </p>
    <p>
        <label for="interest">Intrest Earned (I)</label>
        <input id="interest" name="interest" type="number" />
    </p>
    <p><b>Buttons:</b></p>
    <div class="buttons" >
        <button>P</button>
        <button>i</button>
        <button>n</button>
        <button>A</button>
        <button>I</button>
    </div>
</form>
